
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Fab/
ParagonRevenant/
ParagonSevarog/
Necropolis/
Plugins/Developer/RiderLink/
Content/2TeamProject/Anim/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch
